body{
    background-color:#F5F5F5;

}
#planes-promocion > .contenedor-planes{
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(270px, 1000px);
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
#planes-promocion > .contenedor-planes > p{
    font-weight: 500;
    color:  #410c3a;
}
#planes-promocion > .contenedor-planes > p > span{
    color: #d93611;
} 
#planes-promocion > .contenedor-planes > .contenedor-interno{
    display: grid;
    grid-template-columns: minmax(270px, 500px);
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        grid-template-columns: repeat(2, minmax(270px, 500px));
        margin-top: 50px;
    }
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan{
    background-color: #410c3a;
    padding: 2px;
    border-radius: 10px;
    filter: drop-shadow(0 2px 3px #c231ae96 );
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno:hover{
    transform: scale(1.05);
    transition: 1s;
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno > h4{
    font-weight: 500;
    color: #410c3a;
    margin: 10px;
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno > p{
    font-weight: 500;
    color: #410c3a;
    margin: 10px;
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno > .pequeno{
    font-size: 12px;
}
#planes-promocion > .contenedor-planes > .contenedor-interno > .item-plan > .interno > a{
    background-color: #d93611;
    padding: 10px;
    color: white;
    font-weight: 500;
}

