:root{
  --PrimarioNaranja: #d93611;
  --PrimarioVino: #410c3a;
  --SecundarioAmarillo: #ffe577;
  --SecundarioNaranja: #f28241;
  --SecundarioNaranjaClaro: #fec051;
  --RobotoParrafos: 'Roboto', sans-serif;/*regular*/
  /* --SecundarioOscuro: #0075BE; */
  --sombra: rgba(0, 0, 0, 0.5);
  --sombraClara: rgba(0, 0, 0, 0.25);
  --background: #f6f6f6;
  --radioButtonSpace: 30px;
 
  --titulos: {
    font-family: var(--UbuntuTitulosPrincipales);
    font-weight: bold;
    color: var(--PrimarioClaro);
    text-align: center;
  }

  --addressPrice: {
    padding: 5px 10px;
    position: absolute;
    border-radius: 3px;
    transition: .3s;
  }

  --imgCover:{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  --input-text:{
    width: 100%;
    padding: 5px;
    height: 35px;
    border: none;
    /* border-radius: 5px; */
  }

  --button:{
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    background-color: var(--PrimarioNaranja);
    outline: none;
    text-align: center;
  }

  --overlay:{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--sombra);
    transition: .3s;
  }
}
@media screen and (min-height: 555px) {
  /* Wider than 555px */ 
}
@media screen and (min-width: 576px) {
  /* Wider than 576px */ 
}
@media screen and (min-width: 768px) {
  /* Wider than 768px */ 
}
@media screen and (min-width: 992px) {
  /* Wider than 992px */ 
}
@media screen and (min-width: 1010px) {
  /* Wider than 1010px */ 
}
@media screen and (min-width: 1060px) {
  /* Wider than 1060px */ 
}
@media screen and (min-width: 1200px) {
  /* Wider than 1200px */ 
}

*, p, ul, a, label, button{
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none !important;
}
header{
  position: relative;
  z-index: 9999;
  /* background-color: #fff; */
}
section h1, section h2, section h3, section h5{
  color: var(--PrimarioVino);
  font-weight: bold;
}
section h3{
  font-size: 1.5em;
}
section h5{
  font-weight: 500;
  margin: 0;
}
section p{
  font-weight: 500;
}

.nav-index{
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  /* justify-content: space-between; */
  color: #fff;
  /* background-color: var(--PrimarioNaranja); */
} 
.nav-index > .img-container{
  /* width: 100px; */
  width: calc(50px + 50px);
}
.nav-index > .menu-btns{
  display: grid;
  grid-template-columns: 1fr auto;
}
.nav-index > .menu-btns.user-hide{
  grid-template-columns: 1fr;
}
.nav-index > .menu-btns > .menu-overlay{
  @apply --overlay;
}
.nav-index > .menu-btns > .menu-overlay.hide{
  transform: translateX(-100%);
}
@custom-selector :--main-menu .nav-index > .menu-btns > .menu-items;
:--main-menu{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 100px;
  border-radius: 10px;
  background-color: var(--PrimarioNaranja);
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  transition: .3s;
  max-width: 250px;
  
  @media screen and (min-width: 768px){
    max-width: unset;
    position: unset;
    border-radius: unset;
    background-color: unset;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 30px;
  }
}
:--main-menu > ul{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 10px;

  @media screen and (min-width: 768px){
    grid-template-rows: auto;
  }
}
:--main-menu > ul > li{
  display: flex;
}
:--main-menu > ul > li > a{
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
  font-family: var(--UbuntuEnlaces);
}
:--main-menu > ul:nth-of-type(1){
  @media screen and (min-width: 768px){
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
  }
}
:--main-menu > ul:nth-of-type(1) > li > a:hover{
  background-color: var(--SecundarioNaranja);
}
:--main-menu > ul:nth-of-type(2) > li > a{
  border-radius: 8px;
  color: var(--SecundarioNaranja);

  @media screen and (min-width: 768px){
    border-radius: unset;
  }
}
:--main-menu > ul:nth-of-type(2) > li:hover > a{
  color: var(--SecundarioAmarillo) ;
  background-color: var(--PrimarioNaranja);
}
:--main-menu.hide{
  right: -120%;
}
.nav-index > .menu-btns > .hamburger-btn{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border: 1px solid var(--PrimarioNaranja);
  border-radius: 50%;
  color: var(--PrimarioNaranja);
  background-color: var(--SecundarioAmarillo);
  justify-content: center;
  align-items: center;
  transition: .3s;
  outline: none;
}
/*---------------------Panel-Usuario------------------------------*/
@custom-selector :--user-menu .nav-index > .menu-btns > .user;
:--user-menu{
  /* position: relative; */
  /* display: grid; */
  display: none;
  grid-template-columns: auto;
  gap: 10px;
}
:--user-menu > .user-icon{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
:--user-menu > .user-icon > .fa-angle-down{
  transform: rotateZ(-90deg);
  transition: .3s;
}
:--user-menu > .user-icon > .fa-angle-down.rotate{
  transform: rotateZ(0deg);
}
:--user-menu > ul{
  position: absolute;
  top: 70px;
  right: 0px;
  width: 250px;
  transform: translateX(0);
  transition: .3s;
}
:--user-menu > ul.hide{
  transform: translateX(100%);
}
:--user-menu > ul > li{
  padding: 10px;
  background-color: var(--PrimarioNaranja);
  box-shadow: 2px 2px 2px var(--sombra);
}
:--user-menu > ul > li:nth-of-type(1){
  color: var(--PrimarioNaranja);
  font-family: var(--UbuntuEnlaces);
  background-color: var(--SecundarioAmarillo);
}
:--user-menu > ul > li:nth-of-type(n + 2):hover{
  background-color: var(--PrimarioClaro);
  cursor: pointer;
}
:--user-menu > ul > li > a{
  color: var(--SecundarioAmarillo);
  font-family: var(--UbuntuEnlaces);
}

@custom-selector :--carouselItem .index-carousel > .carousel-inner > .carousel-item;
@custom-selector :--carouselcover .index-carousel > .carousel-inner > .main-cover;
.index-carousel{
  position: relative;
}
.index-carousel > a{
  z-index: 10;
}
:--carouselItem,
:--carouselcover{
  height: 540px;
  position: relative;
  z-index: 6;

  @media screen and (min-height: 555px){
    height: 100vh;
  }
}
:--carouselItem > img{
  @apply --imgCover;
}
:--carouselcover > img{
  height: 100%;
    margin-left: auto;
    right: 0;
    position: absolute;
}
:--carouselItem > .overlay-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color(#410c3a alpha(40%));
}

#search-main{
  z-index: 20;
  position: absolute;
  top: calc(50% - (514.88px / 2));
  /* right: 10px; */
  /* bottom: 10px; */
  display: grid;
  grid-template-columns: minmax(240px, 1000px);
  /* justify-content: center; */
  /* align-content: center */
  transition: .3s;

  @media screen and (min-width: 768px){
    top: calc(50% - 8px);
  }

  @media screen and (min-width: 1010px){
    left: 10px;
  }
  @media screen and (min-width: 1200px){
    top: calc(50% - 58px);
  }
}
#search-main [type = "text"]{
  @apply --input-text;
  padding: 0;
  height: 100%;
}
@custom-selector :--searchContainer #search-main > .form-container;
:--searchContainer{
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, .5); */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;

  @media screen and (min-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  }
}
:--searchContainer > img{
  width: 100%;
  max-width: 280px;
  justify-self: center;

  @media screen and (min-width: 768px){
    grid-column: 3 span;
  }
}
:--searchContainer > .input-container{
  padding: 10px 15px;
  border: 1px solid var(--sombra);
  background-color: #fff;
  display: grid; 
  grid-template-columns: auto 1fr;
  gap: 5px;
}
:--searchContainer > .input-container > i{
  font-size: 19px;
  color: var(--PrimarioVino);
}
:--searchContainer > p{
  color: #fff;
  font-size: 1em;

  @media screen and (min-width: 768px){
    font-size: 2em;
    grid-column: 1 / 4;
  }
}
:--searchContainer > button,
:--searchContainer a{
  padding: 0 30px;
  border: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--PrimarioNaranja);
  outline: none;
  text-align: center;
}
#botones-container > .active{
  background-color: color(#d93611 blackness(80%)) !important;
}
:--searchContainer > button{
  @media screen and (min-width: 768px){
    grid-column: 2 / 3;
  }
}
:--searchContainer > button:hover{
  background-color: color(#d93611 lightness(40%));
}
@custom-selector :--inner-footer .main-footer > .footer-container;
@custom-selector :--footer-list-anchor ul > li > a;
.main-footer{
  z-index: 999;
  position: relative;
  background-color: var(--PrimarioNaranja);
  @media screen and (min-width: 1060px){
    /* border-top: 5px solid var(--SecundarioAmarillo); */
  }
}
:--inner-footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto) 174px;
  row-gap: 25px;
  color: #fff;
  
  @media screen and (min-width: 576px){
    grid-template-columns: minmax(250px, 1fr) minmax(180px, 1fr);
    grid-template-rows: auto auto 174px;
    column-gap: 15px;
    row-gap: unset;
  }
  @media screen and (min-width: 768px){
    grid-template-columns: minmax(250px, 1fr) minmax(180px, 1fr) minmax(270px, 1fr);
    grid-template-rows: auto 174px;
  }
  @media screen and (min-width: 1060px){
    grid-template-columns:  minmax(270px, 1fr) minmax(250px, 1fr) minmax(180px, 1fr) minmax(270px, 1fr);
    grid-template-rows: 174px;
  }
}
:--inner-footer hr{
  border-bottom: 2px solid #fff;
  width: 100px;
  justify-self: center;
}
:--inner-footer > .footer-links > ul{
  /* display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px; */
  text-align: center;
  font-weight: 500;
  
  @media screen and (min-width: 768px){
    text-align: unset;
    justify-items: unset;
  }
}
:--inner-footer > .footer-links > ul > li{
  padding-bottom: 10px;
}
:--inner-footer > .footer-social-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media screen and (min-width: 1060px){
  }
}
:--inner-footer > .footer-social-links > ul{
  display: flex;
  justify-content: center;
  width: 151px;
}
:--inner-footer > .footer-social-links i{
  font-size: 27px;
}
:--inner-footer > .footer-social-links > ul > li{
  padding: 0 15px;
}
:--inner-footer > .footer-social-links > h6,
:--inner-footer > .footer-phrase > h5{
  font-weight: 500;
}
:--inner-footer > .footer-phrase{
  display: flex;
  align-items: center;
  justify-content: center; 

  @media screen and (min-width: 576px){
    grid-column: 2 span;
  } 
  @media screen and (min-width: 768px){
    grid-column: unset;
  }
}
:--inner-footer > .footer-img{
  background-color: var(--PrimarioVino);
  display: grid;
  grid-template-columns: 1fr;
  
  @media screen and (min-width: 576px){
    grid-column: 2 span;
  }
  @media screen and (min-width: 768px){
    grid-column: 3 span;
  }
  @media screen and (min-width: 1060px){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr auto;
    grid-column: unset;
  }
}
:--inner-footer > .footer-img > img:nth-of-type(1){
  height: 100%;
  justify-self: center;
  
  @media screen and (min-width: 1060px){
    /* height: unset; */
    /* width: 100%; */
  }
}
:--inner-footer > .footer-img > img:nth-of-type(2){
  display: none;
  height: 100%;

  @media screen and (min-width: 1060px){
    display: block;
  }
}
:--inner-footer > .footer-links > :--footer-list-anchor,
:--inner-footer > .footer-social-links > :--footer-list-anchor{
  color: #fff;
}
.main-footer > .footer-bottom{
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: var(--PrimarioVino);
  background-color: var(--SecundarioAmarillo);
  font-weight: bold;
}
.main-footer > .footer-bottom > a{
  color: var(--PrimarioVino);
}

main{
  background-color: var(--background);
}

#nosotros{

  text-align: center;
  display: grid;
  grid-template-columns: minmax(250px, 1200px);
  justify-content: center;
  gap: 20px;
}
#nosotros > .nosotros-container{
  display: grid;
  grid-template-columns: minmax(250px, 400px);
  justify-content: center;
  justify-items: center;

  @media screen and (min-width: 576px){
    grid-template-columns: repeat(4, minmax(100px, calc(400px / 2)));
  }
  @media screen and (min-width: 992px){
    grid-template-columns: repeat(6, minmax(100px, calc(400px / 2)));
    /* gap: 30px; */
  }
}
#nosotros > .nosotros-container > .nosotros-item{
  position: relative;
  padding: 20px 10px 0px 10px;
  /* background-color: #fff; */
  /* border-radius: 15px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 15px;
  
  @media screen and (min-width: 576px){
    grid-column: 2 span;
  }
  @media screen and (min-width: 992px){
    grid-template-rows: auto 1fr;
  }
}
#nosotros > .nosotros-container > .nosotros-item > .circle-item{
  position: absolute;
  bottom: 0;
  left: calc(50% - (150px / 2));
  width: 150px;
  height: 150px;
  opacity: .8;
  background-color: var(--SecundarioAmarillo);
  border: 10px solid var(--SecundarioNaranjaClaro);
  border-radius: 50%;
}
#nosotros > .nosotros-container > .nosotros-item:nth-of-type(1),
#nosotros > .nosotros-container > .nosotros-item:nth-of-type(3){
  
  @media screen and (min-width: 576px){

    & > img{
      grid-row: 2 / 3;
    }
    
    & > .circle-item{
      top: 0;
      bottom: unset;
    }
  }
}
#nosotros > .nosotros-container > .nosotros-item:nth-of-type(2){
  @media screen and (min-width: 576px){
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  @media screen and (min-width: 992px){
    grid-column: 2 span;
    grid-row: unset;
    transform: translateY(50px);
  }
}

#nosotros > .nosotros-container > .nosotros-item > p{
  z-index: 2;
  position: relative;
}

#pedidos{
  width: 100%;
  max-width: 400px;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: start;
  color: var(--PrimarioVino);
  background-color: var(--SecundarioAmarillo);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  clip-path: polygon(13% 90%, 0 100%, 0 0, 100% 0, 100% 100%, 88% 90%, 75% 100%, 63% 90%, 50% 100%, 38% 90%, 25% 100%);
  
  @media screen and (min-width: 768px){
    grid-row: unset;
  }
}
#pedidos > h6{
  font-weight: bold;
  margin-bottom: 25px;
}
#pedidos > .items-factura{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
#pedidos > .items-factura > .item{
  display: grid;
  grid-template-columns: 18px 1fr auto;
  gap: 20px;
}
#pedidos > .items-factura > .item > span:nth-of-type(1){
  justify-self: end;
}
#pedidos > .items-factura > .item > span:nth-of-type(2){
  justify-self: start;
}
#pedidos > .items-factura > .item > span:nth-of-type(3){
  font-weight: bold;
}
#pedidos > .total-factura{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
#pedidos > .total-factura{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  font-weight: bold;
}
#pedidos > .total-factura > span:nth-of-type(1){
  justify-self: start;
}
#pedidos > .total-factura > span:nth-of-type(2){
  justify-self: end;
  color: green;
}
